.wrapper {
  display: inline-flex;
  flex-direction: row;
  /* border: 1px solid black; */
}

.overviewImages-container {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

#mainImg {
  height: 475px;
  width: auto;
  max-width: 360px;
  object-fit: cover;
}

#prodName {
  font-size: x-large;
  font-weight: 600;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 500px;
}

.slideshowSlider {
  white-space: nowrap;
}

.slide {
  object-fit: cover;
  display: inline-block;
  height: 25px;
  width: 25px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}

.container {
  /* display: "flex"; */
  flex-direction: row;
  flex-wrap: wrap;
  display: inline-block;
  align-content: flex-start;
  /* border: 3px solid black; */
  padding: 10px 10px 10px 10px;
}

.container-child {
  flex: 1;
  display: flex;
}

.container-child:first-child {
  margin-right: 10px;
}

.details-container {
  flex-direction: row;
  display: flex;
}

.text-container {
  width: 60%;
}

.featureList-container {
  width: 40%;
}

body {
  background: #ffffff;
  width: 100%;
  font-family: "adobe-clean", sans-serif;
}

img.style {
  object-fit: cover;
  width: 50px;
  height: 50px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  padding: 5px;
}

ul {
  list-style: none;
}

.card {
  min-width: 300px;
  max-width: 300px;
  height: 400px;
  margin: 8px 8px;
  padding: 8px 18px;
  border: 2px solid black;
  border-radius: 10px;
  overflow-y: hidden;
}

.carousel-cards {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  align-items: center;
}

.carousel-container {
  position: relative;
  overflow: hidden;
  padding: 10px 30px;
}

.prev-btn {
  left: 0;
}

.next-btn {
  right: 0;
}

.prev-btn, .next-btn {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: transparent;
  border: none;
  z-index: 20;
}

.related-items-container {
  min-height: 440px;
  height: 440px;
  max-height: 440px;
}

.related-img {
  width:100%;
  height:100%;
  object-fit: cover;
  border-radius: 8px;
  display: block;
}

.card-img-container {
  height: 67%;
  position: relative;
}

.card-body-container {
  height: 33%;
}

.card-price {
  font-size: 13px;
  font-weight: 300;
}

.card-category {
  font-size: 13px;
  font-weight: 300;
  text-transform: uppercase;
}

.card-icon {
  position: absolute;
  top: 2px;
  right: 2px;
  color: #000;
  z-index: 10;
  background-color: #FFFFFF;
  border-radius: 100%;
}

.modal-backdrop {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF99;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comparison-container {
  background-color: #FFF;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 10px;
  min-width: 300px;
  max-width: 80%;
}

.comparison-container h3 {
  margin: 2px;
}

.add-to-outfit-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.comparison-title {
  font-size: 12px;
  padding: 0;
}

.comparison-table {
  padding: 0;
  margin: 0;
}

td.left {
  text-align: left;
  width: 30%;
}

td.right {
  text-align: right;
  width: 30%;
}

/* td.title-left {
  text-align: left;
  width: 30%;
}

td.title-right {
  text-align: right;
  width: 30%;
} */

td.center {
  width: 40%;
  text-align: center;
}

td {
  padding: 5px;
}

.related-title, .outfit-title {
  padding-left: 45px;
  margin: 5px 0;
}