.overview-container {
  padding: 0px 5vw;
}

.details-container {
  flex-direction: row;
  display: flex;
  margin: 0 50px;
  padding: 30px 0;
  line-height: 2;
}

#checkStyle {
  position: relative;
  top: -40px;
  right: 10px;
  z-index: 10;
}

.wrapper {
  display: inline-flex;
  flex-direction: row;
}

.overviewImages-container {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

#mainImg {
  height: 475px;
  width: auto;
  max-width: 360px;
  object-fit: cover;
}

#prodName {
  font-size: x-large;
  font-weight: 600;
}

#salePrice {
  color: red;
}

#oldPrice {
  text-decoration: line-through;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 500px;
}

.slideshowSlider {
  white-space: nowrap;
}

.slide {
  object-fit: cover;
  display: inline-block;
  height: 25px;
  width: 25px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}

.text-container {
  width: 60%;
}

.featureList-container {
  width: 40%;
}

body {
  background: #ffffff;
  width: 100%;
  font-family: "adobe-clean", sans-serif;
}

img.style {
  object-fit: cover;
  width: 50px;
  height: 50px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  padding: 5px;
}

ul {
  list-style: none;
}

.related-items-and-outfit-container {
  padding: 0px 5vw;
}

.card {
  min-width: 300px;
  max-width: 300px;
  height: 400px;
  margin: 8px 8px;
  padding: 8px 18px;
  border: 2px solid black;
  border-radius: 10px;
  overflow-y: hidden;
}

.carousel-cards {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  align-items: center;
}

.carousel-container {
  position: relative;
  overflow: hidden;
  padding: 10px 30px;
}

.sale-price {
  color: red;
  padding-right: 10px;
}

.original-price {
  text-decoration: line-through;
}

.prev-btn {
  left: 0;
}

.next-btn {
  right: 0;
}

.prev-btn, .next-btn {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: transparent;
  border: none;
  z-index: 20;
}

.related-img {
  width:100%;
  height:100%;
  object-fit: cover;
  border-radius: 8px;
  display: block;
}

.card-title {
  padding: 5px 0;
  margin: 5px 0;
}

.card-img-container {
  height: 67%;
  position: relative;
}

.card-body-container {
  height: 33%;
}

.card-price {
  font-size: 13px;
  font-weight: 300;
}

.card-category {
  font-size: 13px;
  font-weight: 300;
  text-transform: uppercase;
  padding: 5px 0;
  margin: 5px 0;
}

.card-icon {
  position: absolute;
  top: 2px;
  right: 2px;
  color: #000;
  z-index: 10;
  background-color: #FFFFFF;
  border-radius: 100%;
}

.modal-backdrop {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF99;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comparison-container {
  background-color: #FFF;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 10px;
  min-width: 300px;
  max-width: 80%;
}

.comparison-container h3 {
  margin: 2px;
}

.add-to-outfit-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.comparison-title {
  font-size: 12px;
  padding: 0;
}

.comparison-table {
  padding: 0;
  margin: 0;
}

td.left {
  text-align: left;
  width: 30%;
}

td.right {
  text-align: right;
  width: 30%;
}

td.center {
  width: 40%;
  text-align: center;
}

td {
  padding: 5px;
}

.related-title, .outfit-title {
  padding-left: 45px;
  margin: 5px 0;
}

/* Q&A starts here */
.QandA-container {
  margin: 0 15vw;
  padding: 50px 0;
  line-height: 2;
  max-height: 700px;
  overflow-y: auto;
}

.QandA-heading {
  z-index: 1;
  font-weight: bold;
  font-size: x-large;
}

.QandA-search-box {
  width: 98%;
  height: 3rem;
  margin: 15px 0;
  z-index: 1;
}

.button-more-answered-questions {
  line-height: 3.5;
  font-weight: bold;
  height: 3rem;
  background-color: white;
  margin-top: 20px;
  margin-right: 10px;
  border: 1px solid grey;
  display: inline-flex;
  z-index: 1;
}

.button-add-a-question {
  line-height: 3;
  font-weight: bold;
  height: 3rem;
  background-color: white;
  margin-top: 20px;
  border: 1px solid grey;
}

.modal-add-a-question {
  position: fixed;
  z-index: 2;
  opacity: 1;
  border: solid grey;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  float: left;
  width: 40%;
  background-color: ivory;
  margin-left: 5rem;
  padding: 5px 20px;
}

.modal-ask-your-question-field {
  margin-bottom: 0;
}

.modal-question-input, .modal-answer-input {
  width: 98%;
  height: 15rem;
  margin: 5px 5px;
}

.question-body {
  font-weight: bold;
  display: inline-flex;
  z-index: 1;
  align-items: left;
  justify-content: space-evenly;
}

.see-more-answers {
  z-index: 1;
  border: none;
  background-color: white;
  color: #671ddf;
  margin-left: 9px;
  font-weight: bold;
  font-size: 0.7rem;
}

.sidebar {
  font-size: 0.7rem;
  display: flex;
  align-items: right;
  justify-content: right;
  flex-wrap: wrap;
  padding-right: 10px;
}

.sidebar-helpful {
  margin: 0 5px;
  padding-left: 140px;
}

.sidebar-yes {
  text-decoration: underline;
  z-index: 1;
  border: none;
  color: #404040;
  background-color: white;
  font-size: 0.7rem;
  line-height: normal;
}

.question-report {
  text-decoration: underline;
}

.sidebar-votes {
  margin: 0 3px;
}

.pipe-symbol {
  margin: 0 5px;
}

.add-answer {
  padding-left: 10px;
  text-decoration: underline;
  text-align: right;
}

.feed-container {
  max-height: 400px;
  overflow-y: auto;
}

.answers-feed {
  z-index: 1;
}

.answers-feed-A {
  font-weight: bold;
  display: inline-flex;
}

.answer-body {
  display: inline-flex;
  margin-left: 5px;
}

.answerer {
  color: #404040;
  font-size: 0.8rem;
  display: inline-flex;
  margin-left: 4px;
}

.answer-by {
  color: #404040;
  font-size: 0.8rem;
  margin-left: 15px;
  display: inline-flex;
}

.answer-date {
  color: #404040;
  font-size: 0.8rem;
  display: inline-flex;
  margin-left: 3px;
}

.answer-helpful {
  color: #404040;
  font-size: 0.8rem;
  margin-left: 10px;
  display: inline-flex;
}

.answer-yes {
  text-decoration: underline;
  color: #404040;
  font-size: 0.8rem;
  margin-left: 15px;
  display: inline-flex;
  z-index: 1;
  border: none;
  background-color: white;
  line-height: normal;
}

.answer-votes {
  margin: 0 3px;
  color: #404040;
  font-size: 0.8rem;
  margin-left: 5px;
  display: inline-flex;
}

.answer-report {
  text-decoration: underline;
  color: #404040;
  font-size: 0.8rem;
  margin-left: 5px;
  display: inline-flex;
}

.answer-reported {
  color: #404040;
  font-size: 0.8rem;
  margin-left: 5px;
  display: inline-flex;
}

.modal-add-answer {
  font-size: 1rem;
  position: fixed;
  z-index: 2;
  opacity: 1;
  border: solid grey;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 40%;
  float: left;
  background-color: ivory;
  margin-left: -10rem;
  padding: 5px 20px;
}

.heading-submit-your-answer {
  margin-bottom: 0;
}

.modal-upload-photos {
  font-size: 1rem;
  position: fixed;
  z-index: 3;
  opacity: 1;
  border: solid grey;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 35%;
  height: 70%;
  float: left;
  background-color: lightgray;
  margin-left: -10rem;
  padding: 5px 20px;
  text-align: center;
}

hr {
  border-top: 1px dotted black;
}